<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maintenance.mapper.SonyChannelCategoryMapper">
    <resultMap type="com.ruoyi.maintenance.domain.SonyChannelCategory" id="SonyChannelCategoryResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="channelName" column="channel_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <sql id="selectSonyChannelCategoryVo">
        select id, parent_id, channel_name, create_time, created_by, deleted_at
        from sony_channel_category
    </sql>

    <select id="selectSonyChannelCategoryList" parameterType="com.ruoyi.maintenance.domain.SonyChannelCategory"
            resultMap="SonyChannelCategoryResult">
        <include refid="selectSonyChannelCategoryVo"/>
        <where>
            deleted_at IS NULL
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="channelName != null  and channelName != ''">
                and channel_name like concat('%', #{channelName}, '%')
            </if>
        </where>
    </select>

    <select id="selectSonyChannelCategoryById" parameterType="Integer" resultMap="SonyChannelCategoryResult">
        <include refid="selectSonyChannelCategoryVo"/>
        where id = #{id}
          and deleted_at is null
    </select>

    <insert id="insertSonyChannelCategory" parameterType="com.ruoyi.maintenance.domain.SonyChannelCategory"
            useGeneratedKeys="true" keyProperty="id">
        insert into sony_channel_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="channelName != null and channelName != ''">
                channel_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="deletedAt != null">
                deleted_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="channelName != null and channelName != ''">
                #{channelName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="deletedAt != null">
                #{deletedAt},
            </if>
        </trim>
    </insert>

    <insert id="batchInsertSonyChannelCategory">
        insert into sony_channel_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            parent_id,
            channel_name,
            create_time,
            created_by,
            deleted_at,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="item" separator=",">
                #{item.id},
                <if test="item.parentId != null">
                    #{item.parentId},
                </if>
                <if test="item.channelName != null and item.channelName != ''">
                    #{item.channelName},
                </if>
                <if test="item.createTime != null">
                    #{item.createTime},
                </if>
                <if test="item.createdBy != null">
                    #{item.createdBy},
                </if>
                #{item.deletedAt}
            </foreach>
        </trim>
    </insert>

    <update id="updateSonyChannelCategory" parameterType="com.ruoyi.maintenance.domain.SonyChannelCategory">
        update sony_channel_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="channelName != null and channelName != ''">
                channel_name = #{channelName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="deletedAt != null">
                deleted_at = #{deletedAt},
            </if>
        </trim>
        where id = #{id}
          and deleted_at is null
    </update>

    <update id="batchUpdateSonyChannelCategory">
        update sony_channel_category
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="parent_id=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.parentId != null and item.parentId != ''">
                        when id = #{item.id} then #{item.parentId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="channel_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.channelName != null and item.channelName != ''">
                        when id = #{item.id} then #{item.channelName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createTime != null">
                        when id = #{item.id} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="created_by=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createdBy != null and item.createdBy != ''">
                        when id = #{item.id} then #{item.createdBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="deleted_at=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.deletedAt != null">
                        when id = #{item.id} then #{item.deletedAt}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="item" index="index">
            id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteSonyChannelCategoryById" parameterType="Integer">
        update sony_channel_category
        set deleted_at=now()
        where id = #{id}
    </delete>

    <delete id="deleteSonyChannelCategoryByIds" parameterType="Integer">
        update sony_channel_category
        set deleted_at=now()where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectChannelList" resultType="com.ruoyi.maintenance.domain.vo.SonyChannelCategoryVO">
        <include refid="selectSonyChannelCategoryVo"/>
        <where>
            deleted_at is null
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="channelName != null  and channelName != ''">
                and channel_name like concat('%', #{channelName}, '%')
            </if>
        </where>
    </select>

    <select id="selectSecondaryChannelList" resultType="com.ruoyi.maintenance.domain.vo.SonyChannelCategoryVO">
        <include refid="selectSonyChannelCategoryVo"/>
        where parent_id != -1
        <if test="parentId !=null">
            and parent_id = #{parentId}
        </if>
          and deleted_at is null
    </select>


    <delete id="deleteSonyChannelCategoryByChannelName">
        update sony_channel_category
         set deleted_at = now()
        where channel_name = #{channelName}
    </delete>

    <sql id="selectSonyChannelCategoryIndexVo">
        select b.id, a.channel_name primary_name, b.parent_id, b.channel_name secondary_name, b.create_time
        from sony_channel_category a
                 left join sony_channel_category b on a.id = b.parent_id
    </sql>

    <select id="selectSonyChannelCategoryIndexVOByChannelName"
            resultType="com.ruoyi.maintenance.domain.vo.SonyChannelCategoryIndexVO">
        <include refid="selectSonyChannelCategoryIndexVo"/>
        where a.parent_id = -1
          and a.channel_name =
              #{channelName}
          and a.deleted_at is null
          and b.deleted_at is null
    </select>

    <select id="selectChannelListByIds" resultType="com.ruoyi.maintenance.domain.SonyChannelCategory">
        <include refid="selectSonyChannelCategoryVo"/>
        <where>
            deleted_at is null
            <if test="list != null and list.size() != 0">
                and id in
                <foreach item="id" collection="list" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectSonyChannelCategoryByChannelName" resultType="com.ruoyi.maintenance.domain.SonyChannelCategory">
        <include refid="selectSonyChannelCategoryVo"/>
        <where>
            deleted_at is null
            <if test="channelName != null  and channelName != ''">
                and channel_name = #{channelName}
            </if>
        </where>
    </select>

    <select id="selectChannelCategoryByChannelName" resultType="com.ruoyi.maintenance.domain.vo.SonyChannelCategoryVO">
        <include refid="selectSonyChannelCategoryVo"/>
        <where>
            deleted_at is null
            <if test="channelName != null  and channelName != ''">
                and channel_name = #{channelName}
            </if>
        </where>
    </select>

    <select id="selectChannelCategoryListByChannelCategoryDTO"
            resultType="com.ruoyi.maintenance.domain.vo.SonyChannelCategoryIndexVO">
        select b.id, a.channel_name primary_name, b.parent_id, b.channel_name secondary_name, b.create_time
        from sony_channel_category a
                 left join sony_channel_category b on a.id = b.parent_id
        where b.parent_id != -1
        <if test="primaryChannel != null and primaryChannel != ''">
            and a.channel_name = #{primaryChannel}
        </if>
        <if test="secondaryChannel != null and secondaryChannel != ''">
            and b.channel_name = #{secondaryChannel}
        </if>
        and a.deleted_at is null
        and b.deleted_at is null
    </select>

    <select id="selectChannelListByParentId" resultType="java.lang.Integer">
        select id from sony_channel_category
        <where>
             deleted_at is null
            <if test="list != null and list.size() != 0">
                and parent_id in
                <foreach item="id" collection="list" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>

    </select>

    <select id="selectSonyChannelCategoryIndexVOByIds"
            resultType="com.ruoyi.maintenance.domain.excel.SonyChannelCategoryExportVO">
        select b.id, a.channel_name primary_name, b.parent_id, b.channel_name secondary_name, b.create_time
        from sony_channel_category a
                 left join sony_channel_category b on a.id = b.parent_id
        where b.parent_id != -1
        <if test="list != null and list.size() != 0">
            and b.id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        and a.deleted_at is null
        and b.deleted_at is null
    </select>

</mapper>