<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maintenance.mapper.SonyChannelMapper">
    <resultMap type="com.ruoyi.maintenance.domain.SonyChannel" id="SonyChannelResult">
        <result property="id" column="id"/>
        <result property="primaryChannel" column="primary_channel"/>
        <result property="secondaryChannel" column="secondary_channel"/>
        <result property="channelCode" column="channel_code"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="maintenanceStationName" column="maintenance_station_name"/>
        <result property="maintenanceStationCode" column="maintenance_station_code"/>
        <result property="storeName" column="store_name"/>
        <result property="storeCode" column="store_code"/>
        <result property="remark" column="remark"/>
        <result property="qrcodeUrl" column="qrcode_url"/>
        <result property="ticket" column="ticket"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <resultMap type="com.ruoyi.maintenance.domain.vo.SonyChannelVO" id="SonyChannelResult2">
        <result property="id" column="id"/>
        <result property="primaryChannel" column="primary_channel"/>
        <result property="secondaryChannel" column="secondary_channel"/>
        <result property="channelCode" column="channel_code"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="maintenanceStationName" column="maintenance_station_name"/>
        <result property="maintenanceStationCode" column="maintenance_station_code"/>
        <result property="storeName" column="store_name"/>
        <result property="storeCode" column="store_code"/>
        <result property="remark" column="remark"/>
        <result property="qrcodeUrl" column="qrcode_url"/>
        <result property="ticket" column="ticket"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <sql id="selectSonyChannelVo">
        select id,
               primary_channel,
               secondary_channel,
               channel_code,
               province,
               city,
               maintenance_station_name,
               maintenance_station_code,
               store_name,
               store_code,
               remark,
               qrcode_url,
               ticket,
               del_flag,
               create_time,
               update_time,
               created_by,
               updated_by
        from sony_channel
    </sql>

    <select id="selectSonyChannelList" parameterType="com.ruoyi.maintenance.domain.SonyChannel"
            resultMap="SonyChannelResult">
        <include refid="selectSonyChannelVo"/>
        <where>
            del_flag = 0
            <if test="primaryChannel != null  and primaryChannel != ''">
                and primary_channel like concat('%', #{primaryChannel}, '%')
            </if>
            <if test="secondaryChannel != null  and secondaryChannel != ''">
                and secondary_channel like concat('%', #{secondaryChannel}, '%')
            </if>
            <if test="channelCode != null  and channelCode != ''">
                and channel_code = #{channelCode}
            </if>
            <if test="province != null  and province != ''">
                and province = #{province}
            </if>
            <if test="city != null  and city != ''">
                and city = #{city}
            </if>
            <if test="maintenanceStationName != null  and maintenanceStationName != ''">
                and maintenance_station_name like concat('%', #{maintenanceStationName}, '%')
            </if>
            <if test="maintenanceStationCode != null  and maintenanceStationCode != ''">
                and maintenance_station_code = #{maintenanceStationCode}
            </if>
            <if test="storeName != null  and storeName != ''">
                and store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="storeCode != null  and storeCode != ''">
                and store_code = #{storeCode}
            </if>
            <if test="qrcodeUrl != null  and qrcodeUrl != ''">
                and qrcode_url = #{qrcodeUrl}
            </if>
            <if test="createdBy != null  and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="updatedBy != null  and updatedBy != ''">
                and updated_by = #{updatedBy}
            </if>
        </where>
    </select>

    <select id="selectSonyChannelListByDTO" parameterType="com.ruoyi.maintenance.domain.dto.SonyChannelDTO" resultMap="SonyChannelResult2">
        <include refid="selectSonyChannelVo"/>
        <where>
            del_flag = 0
            <if test="primaryChannel != null  and primaryChannel != ''">
                and primary_channel like concat('%', #{primaryChannel}, '%')
            </if>
            <if test="secondaryChannel != null  and secondaryChannel != ''">
                and secondary_channel like concat('%', #{secondaryChannel}, '%')
            </if>
            <if test="maintenanceStationName != null  and maintenanceStationName != ''">
                and maintenance_station_name like concat('%', #{maintenanceStationName}, '%')
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by create_time desc, update_time desc
    </select>

    <select id="selectSonyChannelById" parameterType="Long" resultMap="SonyChannelResult">
        <include refid="selectSonyChannelVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSonyChannel" useGeneratedKeys="true" keyProperty="id" parameterType="com.ruoyi.maintenance.domain.SonyChannel">
        insert into sony_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="primaryChannel != null and primaryChannel != ''">
                primary_channel,
            </if>
            <if test="secondaryChannel != null">
                secondary_channel,
            </if>
            <if test="channelCode != null and channelCode != ''">
                channel_code,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="maintenanceStationName != null and maintenanceStationName != ''">
                maintenance_station_name,
            </if>
            <if test="maintenanceStationCode != null and maintenanceStationCode != ''">
                maintenance_station_code,
            </if>
            <if test="storeName != null and storeName != ''">
                store_name,
            </if>
            <if test="storeCode != null and storeCode != ''">
                store_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="qrcodeUrl != null">
                qrcode_url,
            </if>
            <if test="ticket != null and ticket != ''">
                ticket,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="primaryChannel != null and primaryChannel != ''">
                #{primaryChannel},
            </if>
            <if test="secondaryChannel != null">
                #{secondaryChannel},
            </if>
            <if test="channelCode != null and channelCode != ''">
                #{channelCode},
            </if>
            <if test="province != null">
                #{province},
            </if>
            <if test="city != null">
                #{city},
            </if>
            <if test="maintenanceStationName != null and maintenanceStationName != ''">
                #{maintenanceStationName},
            </if>
            <if test="maintenanceStationCode != null and maintenanceStationCode != ''">
                #{maintenanceStationCode},
            </if>
            <if test="storeName != null and storeName != ''">
                #{storeName},
            </if>
            <if test="storeCode != null and storeCode != ''">
                #{storeCode},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="qrcodeUrl != null">
                #{qrcodeUrl},
            </if>
            <if test="ticket != null">
                #{ticket},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into sony_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, primary_channel, secondary_channel, channel_code, province, city, maintenance_station_name,
            maintenance_station_code, store_name, store_code, remark, qrcode_url, ticket, del_flag, create_time, update_time,
            created_by, updated_by,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            (null, #{item.primaryChannel}, #{item.secondaryChannel}, #{item.channelCode}, #{item.province}, #{item.city},
            #{item.maintenanceStationName}, #{item.maintenanceStationCode}, #{item.storeName}, #{item.storeCode},
            #{item.remark}, null, null, 0, #{item.createTime}, #{item.updateTime}, #{item.createdBy},
            #{item.updatedBy})
        </foreach>
    </insert>

    <update id="updateSonyChannel" parameterType="com.ruoyi.maintenance.domain.SonyChannel">
        update sony_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="primaryChannel != null and primaryChannel != ''">
                primary_channel = #{primaryChannel},
            </if>
            <if test="secondaryChannel != null">
                secondary_channel = #{secondaryChannel},
            </if>
            <if test="channelCode != null and channelCode != ''">
                channel_code = #{channelCode},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="maintenanceStationName != null and maintenanceStationName != ''">
                maintenance_station_name = #{maintenanceStationName},
            </if>
            <if test="maintenanceStationCode != null and maintenanceStationCode != ''">
                maintenance_station_code = #{maintenanceStationCode},
            </if>
            <if test="storeName != null and storeName != ''">
                store_name = #{storeName},
            </if>
            <if test="storeCode != null and storeCode != ''">
                store_code = #{storeCode},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="qrcodeUrl != null">
                qrcode_url = #{qrcodeUrl},
            </if>
            <if test="ticket != null">
                ticket = #{ticket},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSonyChannelById" parameterType="Long">
        update  sony_channel set del_flag = 1
        where id = #{id}
    </delete>

    <delete id="deleteSonyChannelByIds" parameterType="Long">
        update sony_channel
        set
        del_flag = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSonyChannelListByIds" resultType="com.ruoyi.maintenance.domain.excel.SonyChannelExcelVO">
        <include refid="selectSonyChannelVo"/>
        where del_flag = 0
        <if test="list != null and list.size() != 0">
            and id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="selectSonyChannelByIds" resultType="com.ruoyi.maintenance.domain.SonyChannel">
        <include refid="selectSonyChannelVo"/>
        where del_flag = 0
        <if test="list != null and list.size() != 0">
            and id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <update id="batchDelete" parameterType="Long">
        UPDATE sony_channel
        SET del_flag = CASE
        <foreach collection="list" item="id" index="index">
            WHEN id = #{id} THEN 1
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateSonyChannel" parameterType="com.ruoyi.maintenance.domain.excel.SonyChannelImportVO">
        update sony_channel
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="primary_channel=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.primaryChannel != null and item.primaryChannel != ''">
                        when id = #{item.id} then #{item.primaryChannel}
                    </if>
                </foreach>
            </trim>
            <trim prefix="secondary_channel=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.secondaryChannel != null and item.secondaryChannel != ''">
                        when id = #{item.id} then #{item.secondaryChannel}
                    </if>
                </foreach>
            </trim>
            <trim prefix="province=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.province != null and item.province != ''">
                        when id = #{item.id} then #{item.province}
                    </if>
                </foreach>
            </trim>
            <trim prefix="city=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.city != null and item.city != ''">
                        when id = #{item.id} then #{item.city}
                    </if>
                </foreach>
            </trim>
            <trim prefix="maintenance_station_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.maintenanceStationName != null and item.maintenanceStationName != ''">
                        when id = #{item.id} then #{item.maintenanceStationName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="maintenance_station_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.maintenanceStationCode != null and item.maintenanceStationCode != ''">
                        when id = #{item.id} then #{item.maintenanceStationCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="store_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.storeName != null and item.storeName != ''">
                        when id = #{item.id} then #{item.storeName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="store_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.storeCode != null and item.storeCode != ''">
                        when id = #{item.id} then #{item.storeCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="store_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.storeCode != null and item.storeCode != ''">
                        when id = #{item.id} then #{item.storeCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="qrcode_url=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.qrcodeUrl != null and item.qrcodeUrl != ''">
                        when id = #{item.id} then #{item.qrcodeUrl}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ticket=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ticket != null and item.ticket != ''">
                        when id = #{item.id} then #{item.ticket}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remark=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.remark != null and item.remark != ''">
                        when id = #{item.id} then #{item.remark}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createTime != null">
                        when id = #{item.id} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateTime != null">
                        when id = #{item.id} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="created_by=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createdBy != null and item.createdBy != ''">
                        when id = #{item.id} then #{item.createdBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="updated_by=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updatedBy != null and item.updatedBy != ''">
                        when id = #{item.id} then #{item.updatedBy}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="item" index="index">
            id = #{item.id}
        </foreach>
    </update>
</mapper>